html {
  box-sizing: border-box;
}

.header {
  background: color #fbf2e8;
  text-align: center;
  padding: 20px;
}

body {
    background-color:#fbf2e8;
    font-family: Muli, sans-serif;
    font-size: 16px;
    color:black
}

.bgSizeContain {
    background-image: url('Images/sbportfolio.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position:top;
    background-size:100%; 
  }

/* unvisited link */
  a:active {
    color: #d9632d;
  }
  
  /* visited link */
  a:visited {
    color: #e9a58c;
  }
  
  /* mouse over link */
  a:hover {
    color: #eae862;
  }

  a:link {
    color:#d9632d
  }


 /* headings  */

h1 {
    color: #b47c3d;
    font-family: "Space Mono", monospace;
    text-align: left;
    font-size: 42px;
    font-style: bold;
}
h2 {
    color: #75a569;
    text-align: left;
    font-size: 28px;
}

h3 {
  color: #f0c1af;
  text-align: left;
  font-size: 20px;
}


p {
    font-family: Muli, sans-serif;
    font-size: 18px;
    text-align: left;
}

.about {
  font-family: Muli, sans-serif;
  font-size: 22px;
  text-align: left;
}

/* Block navigation bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4754e4;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color:#fbf2e8;
    font-family: "Space Mono", monospace;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    text-transform:lowercase;
    padding: 14px 16px;
    text-decoration: none;
}

/* Flex container layout */

.flex-container {
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-around;
}

.section {
  display: block flex;
}

/* project cards */

::before {
  box-sizing: inherit;
}
.cards {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  width: 500px;
  height: 300px;
  border:10px solid transparent;
  padding: 15px;
  background: url(Images/border.png);
  background-repeat: no-repeat;
  background-size:100%;
  background-attachment: scroll;
  background-position:top; 
}

.card {
  display: grid;
  grid-auto-rows: auto;
  justify-items: center;
  flex-wrap: wrap;
}

.card img {
  display: grid;
  border-radius: 0%;
  width: 150px;
  padding: 5px;
  box-sizing: border-box;
}

::after {
  box-sizing: inherit;
}

/* //about section row// */

.row {
  display: flex;
  padding: 20px;
  column-count: 2;
  column-gap: 10px;
}

.column {
  flex: 33.3%;
  padding:20px;
}

@media screen and (max-width:500px) {
  .column {
    width:100%
  }
}

/* // photo styling // */

.responsive {
  width: 100%;
  height: auto;
}

.photo {
  float: left;
  padding: 50px;
  border-radius: 50%;
  width: 500px;
  border-style: dashed;
  border-color: #e9a58c;
  padding: 5px;
  shape-outside: circle();
  shape-image-threshold: 1px;
  shape-margin: 1%;
}

.project-photo {
  float:left;
  width: 100px;
  object-fit: contain;
}